/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
*{
    margin: 0;
    /* padding: 0; */
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-bottom: 130px;
}
.display-flex{
    display: flex;
}
.text-color-dark-1{
    color: #131313;
}
.text-color-dark-2{
    color: #424242;
}
.text-color-dark-3{
    color: #727272;
}

.bg-primary{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 20px 24px;
    font-weight: 600;
    font-size: 1.25rem;
}
.btn-secondary{
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 46px 42px;
}
.section-title{
    font-size: 3rem;
    font-weight: 700;
}
.section-desc{
    font-weight: 400;
    font-size: 1rem;

}

/* header style */
header{
    padding: 40px 0;
    margin-bottom: 130px;
}
.navbar{
    align-items: center;
    justify-content: space-between;
}
.navbar .brand{
    font-weight: bold;
    font-size: 3rem;
}
.navbar .nav-item{
    font-weight: 500;
    font-size: 1rem;
}
.nav-list{
    gap: 30px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner .banner-title{
    margin-top: 100px;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 4rem;
}
.banner .banner-desc{
    margin-bottom: 32px;
    font-size: 1rem;
}
.banner .banner-img img{
    width: 100%;
    font-weight: 400;
}
/* team section style */
.teams{
    align-items: center;
    gap: 72px;
}
.teams .teams-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.teams img{
    width: 100%;
}
.teams .teams-feature{
    max-width: 550px;
}
.teams .section-title{
    margin-bottom: 24px;
}
.teams .section-desc{
    margin-bottom: 32px;
}
#text-quick{
    font-size: 3rem;
    font-weight: 500;
}
#text-features{
    color: #FF900E;
}
/* feature section style */
.feature{
    gap: 54px;
}
.feature .feature-content{
    width: 45%;
}
.feature .feature-img{
    width: 55%;
}
.feature .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 24px;
}
.feature .section-desc{
    margin-bottom: 30px;
}
.feature .feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.feature .feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.feature .feature-desc{
    font-size: 1rem;
    font-weight: 400;
}
.feature .feature-img img{
    width: 100%;
}
#yrs{
    font-size: 4rem;
    font-weight: 700;
}
#exp{
    font-size: 1.5rem;
    font-weight: 500;
}
/* facts section style */
.facts .fact-content{
    max-width: 540px;
    margin-bottom: 100px;
}
.facts .section-title{
    margin-bottom: 24px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}
.facts .fact-card{
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.facts .fact-value{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.facts .fact-name{
    font-size: 1.25rem;
    font-weight: 600;
}
/* sponsor section style */
.sponsor .sponsor-content{
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}
.sponsor .section-title{
    margin-bottom: 24px;
}
.sponsor .section-desc{
    margin-bottom: 50px;
}
.sponsor .sponsor-company{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
}
.sponsor-company img{
    filter: grayscale(100%);
}
footer{
    height: 100px;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
footer>p{
    font-size: 1.25rem;
    font-weight: 400;
}

/* ==========================================================================================================
responsive style
=========================================================================================================== */
@media screen and (max-width:479.98px) {
    .sponsor .sponsor-image{

        grid-template-columns: repeat(1,1fr);
        align-items: center;
        /* width: 50%; */
        row-gap: 50px;
        /* column-gap: 150px; */
    } 
    .sponsor-image{
        padding: 0 40px;
        text-align: center;
    }
}